<p>The book view page</p>
<p><%= @book.title + " by " + @book.author %></p>

<p><a href="/books/<%=@book.id%>/edit">edit book</p></a>
<p><a href="/books/<%=@book.id%>/delete">delete book</p></a>
<p><a href='/books'>Go back to your library</p></a>
